ecommerce.db
ecommerce.sqlite-shm
ecommerce.sqlite-wal
amazon_data/
data_pipeline/file_mgr.ipynb
**.DS_Store
.DS_Store
.env
# assets_resized/
# assets_resized/*
.vscode/
.vscode
scratch.ipynb
/.streamlit/secrets.toml